.text-secondary {
  color: #a0aec0 !important;
}

.text-light-emphasis {
  color: #e2e8f0 !important;
}

.text-white {
  color: #e2e8f0 !important;
}

.bg-dark-1 {
  background-color: #0b0d10 !important;
}

.bg-dark-2 {
  background-color: #15181e !important;
}